@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

.auction-cards-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 15%;
    margin-top: 12%;
    margin-bottom: 8%;
    margin-left: 18%;
    transition: all 0.5s ease;
    font-family: Montserrat;
}

