.ban_cards {
    padding: 8px;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 15px;
    box-shadow: rgba(128, 128, 128, 0.336) 0px 7px 29px 0px;
}

.ban_card_img_section {
    height: 240px;
    width: 200px;
}

.ban_card_img {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/Car.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.ban_card_content {
    display: flex;
    justify-content: space-between;
    margin: 2em 0.5em 0.5em 0.5em;
}

.ban_card_content_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1em;
}

.ban_card_content_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card_title,
.latest_bid,
.Bid_amount_eth {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 0.688rem;
    line-height: 1.2;
    color: #FFFFFF;
}

.Bid_amount_dollor {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.2;

    text-align: right;

    color: #C1C1C1;
}

.card_desc {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 1.2;
    color: #C1C1C1;
}

.card_elements {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 1.2;
    color: #C1C1C1;
}

.angle {
    transform: rotate(-45deg);
}

.angle1 {
    transform: rotate(45deg);
}



@media screen and (min-width: 1024px) and  (max-width: 1440px) {
  
    .ban_card_img_section {
        height: 204px;
        width: 170px;
    }
    
    .card_title,
.latest_bid,
.Bid_amount_eth {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 0.584rem;
    line-height: 1.2;
    color: #FFFFFF;
}

.Bid_amount_dollor {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 0.531rem;
    line-height: 1.2;

    text-align: right;

    color: #C1C1C1;
}

.card_desc {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 0.531rem;
    line-height: 1.2;
    color: #C1C1C1;
}

.card_elements {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 0.531rem;
    line-height: 1.2;
    color: #C1C1C1;
}

    


}


